<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>loggy-lab3-end</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.becca.registration.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.becca.registration.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.becca.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>com.becca.registration.AddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/AddTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.becca.registration.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.becca.registration.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTaskServlet</display-name>
    <servlet-name>DisplayTaskServlet</servlet-name>
    <servlet-class>com.becca.registration.DisplayTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTaskServlet</servlet-name>
    <url-pattern>/DisplayTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.becca.registration.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>